/* 공통 */
body {
    font-family: 'Nanum Gothic', sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.4;
    color: #333;
}

* {
    box-sizing: border-box;
}

a {
    display: block;
    text-decoration: none;
}

img {
    max-width: 100%;
    height: auto;
    vertical-align: top;
}

.btn {
    border: 0 none;
    background: transparent;
    border-width: 2px;
    border-style: solid;
    border-radius: 3px;
    text-align: center;
    transition: background .7s, color .7s, border-color .7s;
}

.fade-in{
    opacity: 0;
}

.wrap{
    width: 100%;
    position: relative;
    overflow-x: hidden;
}

/* color */
:root {
    --main-color: #669900;
}

/* start : FOOTER-AWARDS COMMON */
.footer .footer-awards {
    width: 100%;
    height: 80px;
    padding-top: 20px;
    margin-top: 40px;
    position: relative;
}

.footer .footer-awards .swiper-box .swiper-viewport {
    overflow: hidden;
    width: 100%;
    height: 50px;
}
.footer .footer-awards .swiper-box .swiper-viewport .swiper-wrapper .swiper-slide {
    width: 320px;
    height: 50px;
    float: left;
    display: flex;
    justify-content: center;
    align-items: center;
}
/* end : FOOTER-AWARDS COMMON */
