@charset "utf-8";

/* 모바일 버전 */

/* start : HEADER */
.header .inner .util {
    display: none;
}

.header .inner .nav {
    display: none;
}

.header .inner .list-dep1-box {
    display: none;
}

.header {
    width: 100%;
    height: 70px;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 9999;
    background: #F6F5EF;
}

.header>.inner {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header .inner .logo {
    display: block;
    width: 45px;
    height: 45px;
    padding-left: 17px;
    box-sizing: initial;
}

.header .inner .m-util {
    display: flex;
    align-items: center;
    justify-content: center;
}

.header .inner .m-util li {
    width: 60px;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.header .inner .m-util li a {
    width: 25px;
    height: 30px;
}

.header .inner .m-util li a img {
    width: 100%;
    height: 100%;
}

.move-nav_bg {
    display: none;
    width: 100%;
    height: 100%;
    position: fixed;
    z-index: 20;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.8);
}

.move-nav {
    width: 70%;
    height: 100%;
    background: #111;
    padding-bottom: 30px;
    position: fixed;
    right: -100%;
    top: 0;
    z-index: 20001;
    transition: all 0.5s;
}

.move-nav.on {
    right: 0;
}

.move-nav .inner {
    height: 100%;
    overflow: auto;
    margin-right: -15px;
}

.move-nav .inner .move-btn {
    width: 30px;
    height: 30px;
    position: absolute;
    left: -45px;
    top: 25px;
    z-index: 100;
    cursor: pointer;
}

.move-nav .move-btn a {
    background: url("https://i.ibb.co/XtSQb7y/btn-gnb-close.png");
    background-size: 30px auto;
    width: 100%;
    height: 100%;
    overflow: hidden;
    transition: transform 1s;
}

.move-nav .move-btn:hover>a {
    transform: rotate(180deg);
}

.move-nav .inner .move-search {
    width: 100%;
    height: 70px;
    position: relative;
    background: #222;
    border-bottom: solid 1px #222;
}

.move-nav .inner .move-search .search-inner {
    width: 220px;
    height: 30px;
    position: absolute;
    top: 20px;
    left: 50%;
    transform: translateX(-50%);
}

.move-nav .inner .move-search .search-inner input {
    width: 100%;
    height: 30px;
    border-radius: 3px;
}

.move-nav .inner nav {
    width: 100%;
    height: 100%;
}

.move-nav .inner nav .move-list-dep1 {
    width: 100%;
}

.move-nav .inner nav .move-list-dep1 .tit {
    width: 100%;
    max-height: 60px !important;
    background: #111;
    text-indent: 20px;
    position: relative;
}

.move-nav .inner nav .move-list-dep1 .tit a {
    width: 100%;
    height: 60px;
    line-height: 60px;
    font-size: 18px;
    color: #fff;
    position: relative;
}

.move-nav .inner nav .move-list-dep1 .tit .move-arrow {
    display: block;
    width: 21px;
    height: 12px;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 40px;
    cursor: pointer;
    background: url("../images/header/mob_gnb_arrow_down_w.png");
}

.move-nav .inner nav .move-list-dep1 .item-dep1 {
    width: 100%;
    max-height: 0;
    overflow: hidden;
    background: #181818;
    text-indent: 30px;
    position: relative;
    transition: max-height 0.7s;
}
.move-nav .inner nav .move-list-dep1 .item-dep1 a:hover{
    text-decoration: underline;
}

.move-nav .inner nav .move-list-dep1.on .item-dep1:not(:first-child) {
    max-height: 550px;
}

.move-nav .inner nav .move-list-dep1 .item-dep1 a {
    width: 100%;
    height: 50px;
    line-height: 50px;
    font-size: 14px;
    color: #fff;
    position: relative;
}

.move-nav .inner nav .move-list-dep1 .item-dep1 .move-arrow {
    display: block;
    width: 21px;
    height: 12px;
    background: url("../images/header//mob_gnb_arrow_down_g.png");
    position: absolute;
    top: 25px;
    transform: translateY(-50%);
    right: 40px;
    cursor: pointer;
}

.move-nav .inner nav .move-list-dep1 .move-list-dep2.on{
    overflow: visible;
}

.move-nav .inner nav .move-list-dep1 .move-list-dep2 ul {
    width: 100%;
    position: relative;
}

.move-nav .inner nav .move-list-dep1 .move-list-dep2 ul .item-dep2 {
    width: 100%;
    max-height: 0;
    overflow: hidden;
    background: #181818;
    text-indent: 50px;
    position: relative;
    transition: max-height 0.5s;
}

.move-nav .inner nav .move-list-dep1 .move-list-dep2.on ul .item-dep2 {
    max-height: 50px;
}

.move-nav .inner nav .move-list-dep1 .move-list-dep2 ul .item-dep2 a {
    width: 100%;
    height: 50px;
    line-height: 50px;
    color: #999;
    font-size: 14px;
    position: relative;
}
.move-nav .inner nav .move-list-dep1 .move-list-dep2 ul .item-dep2:hover > a{
    text-decoration: underline;
}

/* end : HEADER */

/* start : MAIN-VISUAL */
.pc-title,
.pc-cup1,
.pc-cup2,
.pc-cup3 {
    display: none;
}

.main-visual {
    width: auto;
    height: 275vw;
    background-image: url("../images/visual/2023_m_summer2_promotion_bg_2.jpg");
    background-position: center top;
    background-repeat: no-repeat;
    background-size: cover;
    margin-top: 60px;
}

.main-visual .inner {
    position: relative;
    max-width: 100%;
    height: 100%;
    margin: 0 auto;
}

.main-visual .inner .title {
    width: 37.2%;
    position: absolute;
    top: 5.7%;
    left: 16.7%;
}

.main-visual .inner .content {
    height: 100%;
}

.main-visual .inner .content img {
    width: 100%;
}

.main-visual .inner .content .set1 {
    width: 65.1%;
    position: absolute;
    top: 20%;
    left: 17.5%;
}

.main-visual .inner .content .set2 {
    width: 77.5%;
    position: absolute;
    top: 43%;
    left: 21.4%;
}

.main-visual .inner .content .set3 {
    width: 66.7%;
    position: absolute;
    top: 61.4%;
    left: 16.8%;
}

.main-visual .visual-btn {
    position: absolute;
    top: 88%;
    left: 50%;
    transform: translateX(-50%);
    width: 100%;
    height: auto;
}

.main-visual .inner .visual-btn .btn {
    width: 36%;
    line-height: 10vw;
    color: #004734;
    border-color: #004734;
    font-size: 16px;
    font-weight: bold;
    margin: 0 auto;
}

.main-visual .inner .btn:hover {
    color: #fff;
    background: #004734;
}

/* end : MAIN-VISUAL */

/* start : NOTICE */
.notice {
    position: relative;
    width: 100%;
    height: 220px;
}

.notice .bg-left {
    width: 100%;
    height: 110px;
    background: #333;
    position: absolute;
    top: 0;
    left: 0;
}

.notice .bg-right {
    width: 100%;
    height: 110px;
    background: #f6f5ef;
    position: absolute;
    top: 110px;
    left: 0;
}

.notice .inner {
    background: none;
    height: 110px;
    width: 100%;
    position: absolute;
    top: 0;
}

.notice .inner .inner-left {
    width: 90%;
    height: 110px;
    display: flex;
    align-items: center;
    margin: 0 auto;
}

.notice .inner .inner-left h2 {
    display: none;
}

.notice .inner .inner-left .swiper {
    width: 85%;
    height: 50px;
    float: left;
    font-size: 18px;
    overflow: hidden;
}

.notice .inner .inner-left .swiper .swiper-wrapper {
    align-items: center;
}

.notice .inner .inner-left .swiper .swiper-wrapper .swiper-slide {
    line-height: 50px;
}

.notice .inner .inner-left .swiper .swiper-wrapper .swiper-slide a {
    color: #fff;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.notice .inner .inner-left .notice-more {
    width: 55px;
    height: 55px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.notice .inner .inner-left .notice-more span {
    color: #fff;
    font-size: 40px;
}

.notice .inner .inner-right {
    width: 100%;
    height: 110px;
}

.notice .inner .inner-right a {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #333;
}

.notice .inner .inner-right h2 {
    font-size: 35px;
    font-weight: bold;
}

.notice .inner .inner-right .toggle-promotion span {
    font-size: 45px;
    margin-top: 3px;
}

/* end : NOTICE */

/* start : REWARDS */
.rewards .btn {
    display: inline-block;
    height: 38px;
    line-height: 36px;
    border-radius: 5px;
    padding: 0 18px;
    font-size: 14px;
    color: #fff;
    cursor: pointer;
}

.rewards .btn:hover {
    text-decoration: underline;
}

.pc-br {
    display: none;
}

.rewards {
    background: #1e3932;
    color: #fff;
    padding: 30px 0 40px;
}

.rewards .inner {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    max-width: 1080px;
    margin: 0 auto;
}

.rewards .inner .rewards-logo {
    margin-bottom: 30px;
}

.rewards .inner .rewards-conts .info-cont {
    border-bottom: solid 1px #4b615b;
    margin-bottom: 20px;
    position: relative;
}

.rewards .inner .rewards-conts .info-cont .info-txt {
    margin-bottom: 15px;
}

.rewards .inner .rewards-conts .info-cont .info-txt h2 {
    font-size: 20px;
    line-height: 1.4;
    margin-bottom: 12px;
    font-weight: normal;
}

.rewards .inner .rewards-conts .info-cont .info-txt h2 strong {
    font-weight: bold;
}

.rewards .inner .rewards-conts .info-cont .info-txt p {
    line-height: 1.7;
    font-size: 14px;
}

.rewards .inner .rewards-conts .info-cont .info-txt p strong {
    font-weight: bold;
}

.rewards .inner .rewards-conts .info-cont .info-btn {
    margin-bottom: 20px;
}

.rewards .inner .rewards-conts .info-cont .info-btn a.join {
    background: #00704a;
    border: solid 2px #00704a;
}

.rewards .inner .rewards-conts .info-cont .info-btn a.login {
    margin-left: 9px;
    border: solid 2px #fff;
}

.rewards .inner .rewards-conts .gift-cont .gift-txt {
    line-height: 1.7;
    font-size: 14px;
}

.rewards .inner .rewards-conts .gift-cont .gift-txt strong {
    font-weight: bold;
}

.rewards .inner .rewards-conts .gift-cont .gift-btn {
    margin: 20px 0;
}

/* end : REWARDS */

/* start : MAIN-BANNER */
.main-banner .pc-img {
    display: block;
}

.main-banner .mobile-img {
    display: none;
}

.main-banner .btn.fade-in {
    display: none;
}

.main-banner {
    background: url("../images/ad01/2023_summer2_promotion_bg_2.jpg")center/cover no-repeat;
    height: 572px;
}

.main-banner .inner {
    position: relative;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.main-banner .inner .txt-box .ban-btn {
    margin-top: 40px;
    height: 40px;
}

.main-banner .inner .txt-box .ban-btn .btn {
    line-height: 40px;
    font-weight: bold;
    border-radius: 3px;
    color: #fff;
    border: solid 2px #fff;
}

.main-banner .inner .txt-box .ban-btn .btn:hover {
    background: #fff;
    color: #000;
}

.main-banner .move {
    transform: translateX(400%);
}

/* end : MAIN-BANNER */

/* start : RESERVE */
.reserve .pc-img {
    display: none;
}

.reserve {
    position: relative;
}

.reserve .inner {
    width: 100%;
    height: 100%;
    margin: 0 auto;
}

.reserve .inner .reserve-cont img {
    width: 100%;
}

.reserve .inner .reserve-btn {
    position: absolute;
    bottom: 10%;
    left: 50%;
    transform: translateX(-50%);
    width: 35%;
    height: 6%;
}

.reserve .inner .reserve-btn .btn {
    width: 100%;
    height: 100%;
    font-size: 23px;
    line-height: 10vw;
    color: #fff;
    border: 2px solid #fff;
    border-radius: 5px;
}

.reserve .inner .reserve-btn .btn:hover {
    background: #fff;
    color: #000;
    font-weight: bold;
}

@media all and (max-width: 480px) {
    .reserve .inner .reserve-btn .btn {
        font-size: 14px;
    }
}

/* end : RESERVE */

/* start : PICK */

.pick .mobile-img {
    display: block;
}

.pick .pc-img {
    display: none;
}

.pick {
    width: 100%;
    height: 214vw;
    background: url("../images/pick/2023_m_summer2_pick_bg.jpg") center top no-repeat;
    background-size: cover;
    position: relative;
    overflow: hidden;
}

.pick .inner {
    width: 100%;
    height: 100%;
}

.pick .inner .pick-txt01 {
    width: 250px;
    height: 72px;
    position: absolute;
    top: 70%;
    left: 50%;
    transform: translateX(-50%);
    background: url("../images/pick/mobile_menu_txt01.png") no-repeat;
    background-size: 100% auto;
    transition: opacity 1s;
}

.pick .inner .pick-txt02 {
    width: 300px;
    height: 129px;
    background: url("../images/pick/mobile_menu_txt02.png") no-repeat;
    background-size: 100% auto;
    position: absolute;
    top: 77%;
    left: 50%;
    transform: translateX(-50%);
    transition: opacity 1.5s;
}

.pick .inner .pick-img {
    position: relative;
    width: 80%;
    height: 395px;
    background: url("../images/pick/2023_summer2_pick_img.png") no-repeat;
    background-size: contain;
    margin-top: 120px;
    margin-left: auto;
    margin-right: auto;
}

.pick .inner .pick-btn {
    width: 115px;
    height: 34px;
    position: absolute;
    top: 89%;
    left: 50%;
    transform: translateX(-50%);
}

.pick .inner .pick-btn .btn {
    width: 100%;
    height: 100%;
    line-height: 32px;
    font-size: 14px;
    color: #fff;
    border: solid 2px #fff;
    border-radius: 5px;
    transition: opacity 2s;
}

.pick .inner .pick-btn .btn:hover {
    background: #fff;
    color: #000;
    font-weight: bold;
}

/* end : PICK */

/* start : MAGAZINE */
.magazine .pc-img {
    display: none;
}

.magazine .magazine-inner {
    position: relative;
    width: 100%;
    height: 100%;
    margin: 0 auto;
}
.magazine .magazine-inner .magazine-cont img{
    width: 100%;
}
.magazine .magazine-inner .magazine-btn {
    width: 115px;
    height: 34px;
    position: absolute;
    bottom: 5%;
    left: 50%;
    transform: translateX(-50%);
}

.magazine .magazine-inner .magazine-btn .btn {
    width: 100%;
    border: solid 2px #000;
    border-radius: 5px;
    font-size: 13px;
    line-height: 30px;
    color: #000;
}

.magazine .magazine-inner .magazine-btn .btn:hover {
    background: #000;
    color: #fff;
}

/* end : MAGAZINE */

/* main-banner 반응형 */
@media all and (max-width: 1500px) {
    .main-banner {
        height: 500px;
    }

    .main-banner .inner .img-box {
        width: 17%;
    }

    .main-banner .inner .txt-box {
        width: 32%;
    }
}

@media all and (max-width: 1200px) {
    .main-banner {
        height: 43vw;
    }

    .main-banner .inner {
        max-width: 1124px;
        position: relative;
    }

    .main-banner .inner .img-box {
        width: 17%;
    }

    .main-banner .inner .txt-box {
        width: 30%;
    }
}

@media all and (max-width: 960px) {
    .main-banner .pc-img {
        display: none;
    }

    .main-banner .mobile-img {
        display: block;
        width: 100%;
    }

    .btn.fade-in {
        display: block;
    }

    .btn.move {
        display: none;
    }

    .main-banner {
        background: url("../images/ad01/2023_m_summer2_promotion_bg_1.jpg")center/cover no-repeat;
        height: 175vw;
        position: relative;
    }

    .main-banner .inner {
        position: relative;
        max-width: 1124px;
        margin: 0 auto;
        flex-direction: column;
        align-items: center;
    }

    .main-banner .inner .img-box {
        margin-top: 14%;
        width: 34.5%;
    }

    .main-banner .inner .txt-box {
        width: 50%;
        height: 100%;
        margin: 13% 0;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
    }

    .main-banner .inner .txt-box .ban-btn {
        width: 73%;
        height: auto;
        margin: 0 auto;
    }

    .main-banner .inner .txt-box .ban-btn .btn {
        line-height: 10vw;
        font-size: 23px;
        margin-top: 13%;
    }

}

/* end : main-banner 반응형 */

/* start : STORE */

.store {
    background: url("../images/store/store_bg.jpg");
    background-size: 100% auto;
    overflow: hidden;
}

.store .store-inner {
    width: 1280px;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}

.store .store-inner .store-img01 {
    background: url("../images/store/main_story_1.png");
    background-size: 100% auto;
    position: absolute;
}

.store .store-inner .store-img02 {
    background: url("../images/store/main_story_2.png");
    background-size: 100% auto;
    position: absolute;
}

.store .store-inner .store-img03 {
    background: url("../images/store/store_exp_img03.png");
    background-size: 100% auto;
    position: absolute;
}

.store .store-inner .store-img04 {
    background: url("../images/store/store_exp_img04.png");
    background-size: 100% auto;
    position: absolute;
}

.store .store-inner .store-text01 {
    background: url("../images/store/m_main_story_txt_1.png");
    background-size: 100% auto;
    position: absolute;
    opacity: 0;
    transition: all 0.5s;
}

.store .store-inner .store-text02 {
    background: url("../images/store/m_main_story_txt_2.png");
    background-size: 100% auto;
    position: absolute;
    opacity: 0;
    transition: all 0.5s;
}

.store .store-inner .store-btn {
    width: 121px;
    height: 34px;
    position: absolute;
    top: 640px;
    left: 50%;
    transform: translateX(-50%);
    opacity: 0;
    transition: all 0.5s;
}

.store .store-inner .store-btn.on {
    opacity: 1;
}

.store .store-inner .store-btn .btn {
    color: #222;
    border: solid 2px #222;
    border-radius: 3px;
    line-height: 34px;
}

.store .store-inner .store-btn .btn:hover {
    background: #000;
    color: #fff;
}

/* end : STORE */

/* start : FOOTER */
.footer {
    width: 100%;
    background: #2c2a29;
    position: relative;
    overflow: hidden;
}

.footer .fnb-wrap {
    text-transform: uppercase;
}

/* start : FOOTER-COPYRIGHT */
.copyright {
    width: 100%;
    height: 100%;
}

.copyright .copy-text {
    width: 310px;
    margin: 0 auto;
    text-align: center;
}

.copyright .copy-text li {
    display: inline-block;
    position: relative;
}

.copyright .copy-text li::after {
    content: "|";
    display: inline-block;
    color: #393939;
    position: absolute;
    top: 0;
    right: 0;
}

.copyright .copy-text li:last-child::after {
    display: none;
}

.copyright .copy-text li a {
    color: #ccc;
    font-weight: bold;
    font-size: 12px;
    padding: 0 10px;
}

.copyright .copy-text li.highlight a {
    color: #00b050;
}

.copyright .copy-btn {
    width: fit-content;
    margin: 0 auto;
}
.copyright .copy-btn li{
    float: left;
}

.copyright .copy-btn .btn {
    display: inline-block;
    width: 100px;
    height: 30px;
    line-height: 26px;
    border-color: #fff;
    color: #fff;
    font-size: 12px;
    margin: 10px 2px 0 3px;
}

/* end : FOOTER-COPYRIGHT */

/* start : COPY-INFO */
.copyright .copy-info {
    color: #999;
    font-size: 12px;
    text-align: center;
    padding: 25px 0 5px;
    clear: both;
}

.copyright p {
    color: #999;
    font-size: 12px;
    text-align: center;
    line-height: 40px;
}

/* end : COPY-INFO */
/* end : FOOTER*/

/* 구간1 /////////////////////// ~ 480px */
@media all and (max-width: 480px) {

    /* start : MAIN-BANNER */
    .main-banner .inner .txt-box .ban-btn .btn {
        font-size: 14px;
    }

    /* end : MAIN-BANNER */

    /* start : STORE */
    .store {
        width: 100%;
        height: 750px;
        position: relative;
    }

    .store .store-inner .store-img01 {
        width: 240px;
        height: 204px;
        position: absolute;
        top: 0;
        left: 40%;
    }

    .store .store-inner .store-img02 {
        width: 170px;
        height: 168px;
        position: absolute;
        top: 150px;
        left: 50%;
    }

    .store .store-inner .store-img03 {
        width: 180px;
        height: 73px;
        position: absolute;
        top: 240px;
        left: 480px;
    }

    .store .store-inner .store-img04 {
        width: 170px;
        height: 75px;
        position: absolute;
        bottom: 0;
        right: 0;
    }

    .store .store-inner .store-text01 {
        width: 312px;
        height: 45px;
        position: absolute;
        top: 0;
        left: 50%;
        transform: translateX(-50%);
        opacity: 0;
    }

    .store .store-inner .store-text01.on {
        top: 360px;
        opacity: 1;
    }

    .store .store-inner .store-text02 {
        width: 300px;
        height: 89px;
        position: absolute;
        top: 800px;
        left: 50%;
        transform: translateX(-50%);
        opacity: 0;
    }

    .store .store-inner .store-text02.on {
        top: 430px;
        opacity: 1;
    }

    .store .store-inner .store-btn.on {
        opacity: 1;
    }

    /* end : STORE */
}

/*구간2 /////////////////////// 481px ~ 640px */
@media all and (min-width: 481px) and (max-width: 640px) {

    /* start : STORE */
    .store {
        width: 100%;
        height: 750px;
    }

    .store .store-inner .store-img01 {
        width: 300px;
        height: 255px;
        top: 0;
        left: 400px;
    }

    .store .store-inner .store-img02 {
        width: 200px;
        height: 200px;
        top: 150px;
        left: 630px;
    }

    .store .store-inner .store-img03 {
        width: 280px;
        height: 115px;
        top: 240px;
        left: 390px;
    }

    .store .store-inner .store-img04 {
        width: 170px;
        height: 75px;
        left: 770px;
        top: 675px;
    }

    .store .store-inner .store-text01 {
        width: 430px;
        height: 62px;
        top: 0;
        left: 50%;
        transform: translateX(-50%);
    }

    .store .store-inner .store-text01.on {
        top: 390px;
        opacity: 1;
    }

    .store .store-inner .store-text02 {
        width: 440px;
        height: 129px;
        top: 800px;
        left: 50%;
        transform: translateX(-50%);
    }

    .store .store-inner .store-text02.on {
        top: 475px;
        opacity: 1;
    }

    /* end: STORE */
}

/* 구간3 ~/////////////////////// 660px */
@media all and (max-width: 660px) {

    /* start : REWARDS */
    .rewards {
        padding: 40px 0 50px;
    }

    /* end : REWARDS */

    /* start : FNB */
    .footer .fnb-wrap .fnb .fnb-item-dep1 {
        position: relative;
    }

    .footer .fnb-wrap .fnb .fnb-item-dep1:not(:first-child) {
        display: none;
    }

    .footer .fnb-wrap .fnb.on .fnb-item-dep1:not(:first-child) {
        display: block;
    }


    .footer .fnb-wrap .fnb .fnb-item-dep1:first-child>a {
        background: #554c46;
        color: #fff;
        font-size: 16px;
        line-height: 50px;
        text-indent: 10px;
    }

    .footer .fnb-wrap .fnb .fnb-item-dep1>a {
        background: #645952;
        color: #e6dbd3;
        font-size: 14px;
        line-height: 40px;
        text-indent: 10px;
    }

    .footer .fnb-wrap .fnb .arrow-wrapper>.footer-arrow-down {
        width: 20px;
        height: 11px;
        background: url("../images/footer/mobile_footer_arrow_down.png") no-repeat;
        background-size: 20px auto;
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        right: 10px;
    }

    .footer .fnb-wrap .fnb.on .arrow-wrapper>.footer-arrow-down {
        background: url("../images/footer/mobile_footer_arrow_up.png");
        background-size: 20px auto;
    }

    .footer .fnb-wrap .fnb .fnb-item-dep1.on .fnb-list-dep2 {
        display: block;
    }

    .footer .fnb-wrap .fnb .fnb-item-dep1 .fnb-list-dep2 {
        display: none;
    }

    .footer .fnb-wrap .fnb .fnb-item-dep1 .fnb-list-dep2 .fnb-item-dep2 a {
        background: #76685e;
        color: #e6dbd3;
        text-indent: 10px;
        font-size: 14px;
        line-height: 40px;
    }

    .footer .fnb-wrap .fnb .arrow-wrapper2 .footer-arrow-down {
        width: 20px;
        height: 11px;
        background: url("../images/footer/mobile_footer_arrow_down2.png");
        background-size: 20px auto;
        position: absolute;
        top: 12px;
        right: 10px;

    }

    .footer .fnb-wrap .fnb .arrow-wrapper2.on .footer-arrow-down {
        background: url("../images/footer/mobile_footer_arrow_up2.png");
        background-size: 20px auto;
    }

    /* end : FNB */

    /* start : FOOTER-AWARDS */
    .footer .footer-awards .swiper-box {
        width: 320px;
        height: 100%;
        margin: 0 auto;
    }

    .footer .footer-awards .swiper-box .swiper-viewport .swiper-wrapper {
        width: calc(320px * 9);
        height: 100%;
    }

    /* end : FOOTER-AWARDS */

}

/* 구간4 ///////////////////////660px ~ */
@media all and (min-width: 660px) {
    .footer {
        padding: 32px 0 35px;
    }

    .footer .fnb-wrap {
        width: 90%;
        margin: 0 auto;
        display: flex;
        flex-flow: row wrap;
    }

    .footer .fnb-wrap .fnb {
        flex: 1 0 30%;
        margin-bottom: 30px;
    }

    .footer .fnb-wrap .fnb .fnb-item-dep1 a:hover {
        color: var(--main-color);
    }

    .footer .fnb-wrap .fnb .fnb-item-dep1:first-child>a {
        font-size: 16px;
        line-height: 40px;
        font-weight: bold;
    }

    .footer .fnb-wrap .fnb .fnb-item-dep1>a {
        font-size: 13px;
        color: #fff;
        line-height: 24px;
    }

    .footer .fnb-wrap .fnb .fnb-item-dep1 .fnb-list-dep2 {
        display: none;
    }

    /* start : FOOTER-AWARDS */
    .footer .footer-awards .swiper-box {
        width: calc(320px * 3);
        height: 100%;
        margin: 0 auto;
    }

    .footer .footer-awards .swiper-box .swiper-viewport .swiper-wrapper {
        width: calc(320px * 13);
        height: 100%;
    }

    /* end : FOOTER-AWARDS */

    /* start : FOOTER-COPYRIGHT */
    .copyright .copy-text {
        width: 100%;
    }

    /* end : FOOTER-COPYRIGHT */

    /* start : COPY-INFO */
    .copyright .copy-info li {
        display: inline-block;
        margin: 0 5px;
    }

    /* end : COPY-INFO */
}

/* 구간5 ///////////////////////640px ~ 960px */
@media all and (min-width: 640px) and (max-width: 960px) {

    /* start : PICK */
    .pick .inner .pick-txt01 {
        width: 350px;
    }

    .pick .inner .pick-txt02 {
        width: 440px;
        height: 129px;
    }

    .pick .inner .pick-img {
        height: 490px;
        margin-top: 250px;
    }

    .pick .inner .pick-btn {
        width: 125px;
        height: 38px;
    }

    /* end : PICK */

    /* start : STORE */
    .store {
        width: 100%;
        height: 750px;
        position: relative;
    }

    .store .store-inner .store-img01 {
        width: 300px;
        height: 255px;
        top: 0;
        left: 400px;
    }

    .store .store-inner .store-img02 {
        width: 200px;
        height: 200px;
        top: 150px;
        left: 630px;
    }

    .store .store-inner .store-img03 {
        width: 280px;
        height: 115px;
        top: 240px;
        left: 390px;
    }

    .store .store-inner .store-img04 {
        width: 170px;
        height: 75px;
        top: 675px;
        left: 770px;
    }

    .store .store-inner .store-text01 {
        width: 440px;
        height: 65px;
        top: 0;
        left: 50%;
        transform: translateX(-50%);
    }

    .store .store-inner .store-text01.on {
        top: 390px;
        opacity: 1;
    }

    .store .store-inner .store-text02 {
        width: 440px;
        height: 130px;
        top: 800px;
        left: 50%;
        transform: translateX(-50%);
    }

    .store .store-inner .store-text02.on {
        top: 475px;
        opacity: 1;
    }

    /* end : STORE */
}

/* 구간6 ~/////////////////////// 768px */
@media all and (min-width: 768px) {
    .rewards .pc-br {
        display: block;
    }

    .rewards .mobile-br {
        display: none;
    }

    .rewards .inner {
        flex-direction: row;
        text-align: left;
    }

    .rewards .inner .rewards-logo {
        margin: 0 30px;
    }

    .rewards .inner .rewards-conts .info-cont .info-txt h2 {
        font-size: 26px;
    }

    .rewards .inner .rewards-conts .info-cont .info-txt p {
        font-size: 17px;
    }

    .rewards .inner .rewards-conts .gift-cont .gift-txt p {
        font-size: 17px;
        line-height: 1.4;
    }
}

/* 구간7 /////////////////////// 960px ~ */
@media all and (min-width: 960px) {

    /* start : HEADER */
    .header .inner .m-util,
    .header .inner .move-nav_bg,
    .header .inner .move-nav {
        display: none;
    }

    .header {
        width: 100%;
        height: 120px;
        position: fixed;
        top: 0;
        left: 0;
        z-index: 9999;
        border-bottom: solid 1px #c8c8c8;
    }

    .header>.inner {
        display: block;
        width: 1100px;
        height: 120px;
        margin: 0 auto;
        position: relative;
    }

    .header .inner .logo {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        width: 75px;
        height: 75px;
    }

    .header .inner .util {
        display: block;
        position: absolute;
        top: 10px;
        right: 0;
        display: flex;
        align-items: center;
    }

    .header .inner .util ul {
        display: flex;
    }

    .header .inner .util ul .util-item {
        position: relative;
        padding: 0 20px;
    }

    .header .inner .util ul .util-item::before {
        content: "";
        width: 1px;
        height: 12px;
        background: #e5e5e5;
        position: absolute;
        top: 0;
        bottom: 0;
        margin: auto;
    }

    .header .inner .util ul .util-item:first-child::before {
        display: none;
    }

    .header .inner .util ul .util-item a {
        font-size: 13px;
        color: #000;
    }

    .header .inner .util .search {
        position: relative;
    }

    .header .inner .util .search input {
        outline: none;
        width: 36px;
        height: 34px;
        padding: 4px 10px;
        border: solid 1px #ccc;
        background: #fff;
        color: #777;
        font-size: 12px;
        transition: width 0.4s;
    }

    .header .inner .util .search input:focus {
        width: 190px;
        border-color: var(--main-color);
    }

    .header .inner .util .search.focused .text span {
        opacity: 0;
    }

    .header .inner .util .search span {
        height: 24px;
        position: absolute;
        top: 0;
        bottom: 0;
        margin: auto;
        right: 5px;
        transition: 0.4s;
    }

    .header .inner .list-dep1-box {
        display: block;
        width: 100%;
        height: 66px;
        position: absolute;
        top: 54px;
        left: 0;
    }

    .header .inner .nav {
        display: block;
        position: absolute;
        bottom: 0;
        right: 0;
        z-index: 10;
        display: flex;
    }

    .header .inner .item-dep1>a {
        height: 56px;
        padding: 10px 20px 0;
        line-height: 20px;
        font-size: 13px;
        color: #000;
    }

    .header .inner .item-dep1:hover>a {
        background: #2c2a29;
        color: var(--main-color);
        text-decoration: underline;
        border-radius: 6px 6px 0 0;
    }

    .header .inner .item-dep1 .list-dep2-box {
        display: none;
        background: #2C2A29;
        width: 100%;
        position: fixed;
        left: 0;
    }

    .header .inner .item-dep1:hover .list-dep2-box {
        display: block;
    }

    .header .inner .item-dep1 .list-dep2-box .inner {
        display: flex;
        width: 1100px;
        margin: 0 auto;
    }

    .header .inner .item-dep1 .list-dep2-box .inner .list-dep2 {
        width: 220px;
        padding: 20px 0;
    }

    .header .inner .item-dep1 .list-dep2-box .inner .list-dep2 .item-dep2:first-child a {
        color: #fff;
        font-size: 14px;
        padding: 3px 0 12px 0;
    }

    .header .inner .item-dep1 .list-dep2-box .inner .list-dep2 .item-dep2 a {
        color: #999;
        font-size: 12px;
        padding: 5px 0;
        cursor: pointer;
    }

    .header .inner .item-dep1 .list-dep2-box .inner .list-dep2 .item-dep2 a:hover {
        text-decoration: underline;
    }

    /* end : HEADER */

    /* start : MAIN-VISUAL */
    .m-title,
    .m-cup1,
    .m-cup2,
    .m-cup3 {
        display: none;
    }

    .pc-title,
    .pc-cup1,
    .pc-cup2,
    .pc-cup3 {
        display: block;
    }

    .main-visual {
        margin-top: 120px;
        height: 32vw;
        background-image: url("../images/visual/2023_summer2_promotion_top_pc_bg_1.jpg");
    }

    .main-visual .inner {
        width: 100%;
    }

    .main-visual .inner .title {
        width: 22.6%;
        top: 36%;
        left: 11.7%;
    }

    .main-visual .inner .content .set1 {
        width: 13%;
        top: 17.5%;
        left: 50%;
    }

    .main-visual .inner .content .set2 {
        width: 13%;
        top: 17%;
        left: 38%;
    }

    .main-visual .inner .content .set3 {
        width: 13%;
        top: 17.2%;
        left: 62.5%;
    }

    .main-visual .inner .visual-btn {
        width: 22.6%;
        top: 61.3%;
        left: 11.7%;
        transform: translateX(0);
        height: 35px;
    }

    .main-visual .inner .visual-btn .btn {
        font-size: 12px;
        line-height: 35px;
    }

    /* end : MAIN-VISUAL */

    /* start : NOTICE */
    .notice {
        height: 62px;
    }

    .notice .bg-left {
        width: 50%;
        height: 62px;
    }

    .notice .bg-right {
        width: 50%;
        height: 62px;
        top: 0;
        right: 0;
        left: auto;
    }

    .notice .inner {
        width: 960px;
        height: 62px;
        display: flex;
        left: 50%;
        transform: translateX(-50%);
    }

    .notice .inner .inner-left {
        position: relative;
        width: 50%;
        height: auto;
        margin: initial;
    }

    .notice .inner .inner-left h2 {
        display: block;
        color: #fff;
        font-size: 17px;
        font-weight: bold;
        margin-right: 20px;
    }

    .notice .inner .inner-left .swiper {
        width: 55%;
        height: 62px;
        font-size: 13px;
        margin: initial;
    }

    .notice .inner .inner-left .swiper .swiper-wrapper .swiper-slide {
        line-height: 62px;
    }

    .notice .inner .inner-left .notice-more {
        position: absolute;
        right: 0;
        width: 62px;
        height: 62px;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .notice .inner .inner-left .notice-more span {
        font-size: 30px;
    }

    .notice .inner .inner-right {
        width: 50%;
        height: auto;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .notice .inner .inner-right h2 {
        font-size: 17px;
        font-weight: bold;
    }

    .notice .inner .inner-right .toggle-promotion {
        width: 62px;
        height: 62px;
        cursor: pointer;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .notice .inner .inner-right .toggle-promotion span {
        font-size: 30px;
    }

    /* end : NOTICE */

    /* start : REWARDS */
    .rewards .mobile-br {
        display: none;
    }

    .rewards .pc-br {
        display: none;
    }

    .rewards .inner {
        width: 1280px;
        margin: 0 auto;
        position: relative;
    }

    .rewards .inner .rewards-logo {
        width: 17%;
    }

    .rewards .inner .rewards-conts {
        width: 83%;
    }

    .rewards .inner .rewards-conts .info-cont {
        display: flex;
        align-items: flex-end;
        justify-content: space-between;
    }

    .rewards .inner .rewards-conts .info-cont .info-txt p {
        line-height: 1.4;
    }

    .rewards .inner .rewards-conts .gift-cont {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    .rewards .inner .rewards-conts .gift-cont .gift-txt p {
        line-height: 1.4;
        font-size: 14px;
    }

    .rewards .inner .rewards-conts .gift-cont .gift-btn {
        width: 183px;
        height: 38px;
        line-height: 36px;
    }

    /* end : REWARDS */

    /* start : RESERVE */

    .reserve .pc-img {
        display: block;
    }

    .reserve .mobile-img {
        display: none;
    }

    .reserve {
        height: 400px;
        background: url("../images/ad02/230418_pc_reserve_bg.jpg") no-repeat center top;
        background-size: cover;
        overflow: hidden;
    }

    .reserve .inner {
        width: 1280px;
        margin: 0 auto;
        position: relative;
    }

    .reserve .inner .reserve-tit {
        width: 100%;
        max-width: 1080px;
        position: relative;
        z-index: 10;
        padding-top: 70px;
        margin: 0 auto;
    }

    .reserve .inner .reserve-tit img {
        transform: translateX(160px);
    }

    .reserve .inner .reserve-cont {
        position: absolute;
        top: 0;
        left: 0;
        width: auto;
        height: 100%;
    }

    .reserve .inner .reserve-cont img {
        height: 100%;
        object-fit: cover;
    }

    .reserve .inner .reserve-btn-wrap {
        max-width: 1080px;
        margin-right: auto;
        margin-left: auto;
        margin-top: 30px;
        padding-left: 254px;
        position: relative;
        z-index: 10;
    }

    .reserve .inner .reserve-btn {
        position: static;
        width: 125px;
        height: 40px;
        transform: translateX(0);
        box-sizing: border-box;
    }

    .reserve .inner .reserve-btn .btn {
        line-height: 36px;
        font-size: 14px;
        box-sizing: border-box;
    }

    /* end : RESERVE */

    /* start : PICK */
    .pick .fade-in {
        opacity: 1 !important;
    }

    .pick .mobile-img {
        display: none;
    }

    .pick .pc-img {
        display: block;
    }

    .pick {
        height: 800px;
        position: relative;
        background: url("../images/pick/2023_summer2_pick_bg.jpg") center center fixed no-repeat;
        background-size: auto 87%;
        background-position: bottom;
    }

    .pick .inner {
        width: 1280px;
        margin: 0 auto;
        position: relative;
    }

    .pick .inner .pick-txt01 {
        background: url("../images/pick/fav_prod_txt01.png") no-repeat;
        width: 260px;
        height: 204px;
        position: absolute;
        top: 172px;
        left: -700px;
        transform: translateX(0);
        transition: left 1.5s;
    }

    .pick .inner .pick-txt01.on {
        left: 200px;
    }

    .pick .inner .pick-txt02 {
        width: 360px;
        height: 160px;
        top: 417px;
        left: -700px;
        transform: translateX(0);
        background: url("../images/pick/2023_pick_text2_img.png") no-repeat;
        background-size: 100% auto;
        transition: left 2.5s;
    }

    .pick .inner .pick-txt02.on {
        left: 97px;
    }

    .pick .inner .pick-img {
        width: 720px;
        height: 475px;
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        right: 60px;
        margin: 0;
    }

    .pick .inner .pick-btn {
        top: 602px;
        left: 391px;
    }

    /* end : PICK */

    /* start : MAGAZINE */
    .magazine .pc-img {
        display: block;
    }

    .magazine .mobile-img {
        display: none;
    }

    .magazine {
        width: 100%;
        height: 400px;
        overflow: hidden;
        background: url(../images/magazine/reserve_bg_pc.png) no-repeat 50% 100%;
        background-size: auto 353px;
    }

    .magazine .magazine-inner {
        max-width: 1080px;
    }

    .magazine .magazine-inner .magazine-tit {
        position: absolute;
        left: 0;
        top: 50%;
        transform: translateY(-50%);
        z-index: 10;
    }

    .magazine .magazine-inner .magazine-cont {
        position: absolute;
        right: 0;
        top: 50%;
        transform: translateY(-50%);
    }

    .magazine .magazine-inner .magazine-btn-wrap .magazine-btn {
        width: 125px;
        height: 40px;
    }

    .magazine .magazine-inner .magazine-btn-wrap .magazine-btn .btn {
        line-height: 40px;
        font-size: 16px;
    }

    /* end : MAGAZINE */

    /* start : STORE */
    .store {
        width: 100%;
        height: 400px;
        position: relative;
        overflow: hidden;
    }

    .store .store-inner .store-img01 {
        width: 365px;
        height: 310px;
        top: 0;
        left: 160px;

    }

    .store .store-inner .store-img02 {
        width: 230px;
        height: 230px;
        top: 150px;
        left: 390px;
    }

    .store .store-inner .store-img03 {
        width: 340px;
        height: 140px;
        top: -60px;
        left: 520px;
    }

    .store .store-inner .store-img04 {
        width: 230px;
        height: 100px;
        top: 300px;
        right: 190px;
    }

    .store .store-inner .store-text01 {
        background: url("../images/store/pc_main_story_txt_1.png");
        width: 375px;
        height: 55px;
        top: 100px;
        right: -700px;
        transition: all 1s;
    }

    .store .store-inner .store-text01.on {
        right: 260px;
        opacity: 1;
    }

    .store .store-inner .store-text02 {
        background: url("../images/store/pc_main_story_txt_2.png");
        width: 370px;
        height: 90px;
        right: -700px;
        top: 170px;
        transition: 1s;
    }

    .store .store-inner .store-text02.on {
        right: 260px;
        opacity: 1;
    }

    .store .store-inner .store-btn {
        top: 290px;
        right: 510px;
        left: initial;
        transform: initial;
    }

    .store .store-inner .store-btn.on {
        opacity: 1;
        transition-delay: 1s;
    }

    /* end: STORE */


}

/* 구간8 ///////////////////////1280px ~ */
@media all and (min-width: 1280px) {

    /* start : HEADER */
    .header .inner .m-util,
    .header .inner .move-nav_bg,
    .header .inner .move-nav {
        display: none;
    }

    .header {
        width: 100%;
        height: 120px;
        position: fixed;
        top: 0;
        left: 0;
        z-index: 9999;
        border-bottom: solid 1px #c8c8c8;
    }

    .header>.inner {
        display: block;
        width: 1100px;
        height: 120px;
        margin: 0 auto;
        position: relative;
    }

    .header .inner .logo {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        width: 75px;
        height: 75px;
    }

    .header .inner .util {
        display: block;
        position: absolute;
        top: 10px;
        right: 0;
        display: flex;
        align-items: center;
    }

    .header .inner .util ul {
        display: flex;
    }

    .header .inner .util ul .util-item {
        position: relative;
        padding: 0 20px;
    }

    .header .inner .util ul .util-item::before {
        content: "";
        width: 1px;
        height: 12px;
        background: #e5e5e5;
        position: absolute;
        top: 0;
        bottom: 0;
        margin: auto;
    }

    .header .inner .util ul .util-item:first-child::before {
        display: none;
    }

    .header .inner .util ul .util-item a {
        font-size: 13px;
        color: #000;
    }

    .header .inner .util .search {
        position: relative;
    }

    .header .inner .util .search input {
        outline: none;
        width: 36px;
        height: 34px;
        padding: 4px 10px;
        border: solid 1px #ccc;
        background: #fff;
        color: #777;
        font-size: 12px;
        transition: width 0.4s;
    }

    .header .inner .util .search input:focus {
        width: 190px;
        border-color: var(--main-color);
    }

    .header .inner .util .search.focused .text span {
        opacity: 0;
    }

    .header .inner .util .search span {
        height: 24px;
        position: absolute;
        top: 0;
        bottom: 0;
        margin: auto;
        right: 5px;
        transition: 0.4s;
    }

    .header .inner .list-dep1-box {
        display: block;
        width: 100%;
        height: 66px;
        position: absolute;
        top: 54px;
        left: 0;
    }

    .header .inner .nav {
        display: block;
        position: absolute;
        bottom: 0;
        right: 0;
        z-index: 10;
        display: flex;
    }

    .header .inner .item-dep1>a {
        height: 56px;
        padding: 10px 20px 0;
        line-height: 20px;
        font-size: 13px;
        color: #000;
    }

    .header .inner .item-dep1:hover>a {
        background: #2c2a29;
        color: var(--main-color);
        text-decoration: underline;
        border-radius: 6px 6px 0 0;
    }

    .header .inner .item-dep1 .list-dep2-box {
        display: none;
        background: #2C2A29;
        width: 100%;
        position: fixed;
        left: 0;
    }

    .header .inner .item-dep1:hover .list-dep2-box {
        display: block;
    }

    .header .inner .item-dep1 .list-dep2-box .inner {
        display: flex;
        width: 1100px;
        margin: 0 auto;
    }

    .header .inner .item-dep1 .list-dep2-box .inner .list-dep2 {
        width: 220px;
        padding: 20px 0;
    }

    .header .inner .item-dep1 .list-dep2-box .inner .list-dep2 .item-dep2:first-child a {
        color: #fff;
        font-size: 14px;
        padding: 3px 0 12px 0;
    }

    .header .inner .item-dep1 .list-dep2-box .inner .list-dep2 .item-dep2 a {
        color: #999;
        font-size: 12px;
        padding: 5px 0;
        cursor: pointer;
    }

    .header .inner .item-dep1 .list-dep2-box .inner .list-dep2 .item-dep2 a:hover {
        text-decoration: underline;
    }

    /* end : HEADER */

    /* start : MAIN-VISUAL */
    .m-title,
    .m-cup1,
    .m-cup2,
    .m-cup3 {
        display: none;
    }

    .pc-title,
    .pc-cup1,
    .pc-cup2,
    .pc-cup3 {
        display: block;
    }

    .main-visual {
        margin-top: 120px;
        height: 32vw;
        background-image: url("../images/visual/2023_summer2_promotion_top_pc_bg_1.jpg");
    }

    .main-visual .inner {
        width: 100%;
    }

    .main-visual .inner .title {
        width: 22.6%;
        top: 36%;
        left: 11.7%;
    }

    .main-visual .inner .content .set1 {
        width: 13%;
        top: 17.5%;
        left: 50%;
    }

    .main-visual .inner .content .set2 {
        width: 13%;
        top: 17%;
        left: 38%;
    }

    .main-visual .inner .content .set3 {
        width: 13%;
        top: 17.2%;
        left: 62.5%;
    }

    .main-visual .inner .visual-btn {
        width: 22.6%;
        top: 61.3%;
        left: 11.7%;
        transform: translateX(0);
        height: 35px;
    }

    .main-visual .inner .visual-btn .btn {
        font-size: 12px;
        line-height: 35px;
    }

    /* end : MAIN-VISUAL */

    /* start : NOTICE */
    .notice {
        height: 62px;
    }

    .notice .bg-left {
        width: 50%;
        height: 62px;
    }

    .notice .bg-right {
        width: 50%;
        height: 62px;
        top: 0;
        right: 0;
        left: auto;
    }

    .notice .inner {
        width: 960px;
        height: 62px;
        display: flex;
        left: 50%;
        transform: translateX(-50%);
    }

    .notice .inner .inner-left {
        position: relative;
        width: 50%;
        height: auto;
        margin: initial;
    }

    .notice .inner .inner-left h2 {
        display: block;
        color: #fff;
        font-size: 17px;
        font-weight: bold;
        margin-right: 20px;
    }

    .notice .inner .inner-left .swiper {
        width: 55%;
        height: 62px;
        font-size: 13px;
        margin: initial;
    }

    .notice .inner .inner-left .swiper .swiper-wrapper .swiper-slide {
        line-height: 62px;
    }

    .notice .inner .inner-left .notice-more {
        position: absolute;
        right: 0;
        width: 62px;
        height: 62px;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .notice .inner .inner-left .notice-more span {
        font-size: 30px;
    }

    .notice .inner .inner-right {
        width: 50%;
        height: auto;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .notice .inner .inner-right h2 {
        font-size: 17px;
        font-weight: bold;
    }

    .notice .inner .inner-right .toggle-promotion {
        width: 62px;
        height: 62px;
        cursor: pointer;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .notice .inner .inner-right .toggle-promotion span {
        font-size: 30px;
    }

    /* end : NOTICE */

    /* start : RESERVE */
    .reserve .pc-img {
        display: block;
    }

    .reserve .mobile-img {
        display: none;
    }

    .reserve {
        height: 400px;
        background: url("../images/ad02/230418_pc_reserve_bg.jpg") no-repeat center top;
        background-size: cover;
        overflow: hidden;
    }

    .reserve .inner {
        width: 1280px;
        margin: 0 auto;
        position: relative;
    }

    .reserve .inner .reserve-tit {
        width: 100%;
        max-width: 1080px;
        position: relative;
        z-index: 10;
        padding-top: 70px;
        margin: 0 auto;
    }

    .reserve .inner .reserve-tit img {
        transform: translateX(160px);
    }

    .reserve .inner .reserve-cont {
        position: absolute;
        top: 0;
        left: 0;
        width: auto;
        height: 100%;
    }

    .reserve .inner .reserve-cont img {
        height: 100%;
        object-fit: cover;
    }

    .reserve .inner .reserve-btn-wrap {
        max-width: 1080px;
        margin-right: auto;
        margin-left: auto;
        margin-top: 30px;
        padding-left: 254px;
        position: relative;
        z-index: 10;
    }

    .reserve .inner .reserve-btn {
        position: static;
        width: 125px;
        height: 40px;
        transform: translateX(0);
        box-sizing: border-box;
    }

    .reserve .inner .reserve-btn .btn {
        line-height: 36px;
        font-size: 14px;
        box-sizing: border-box;
    }

    /* end : RESERVE */

    /* start : PICK */
    .pick .fade-in {
        opacity: 1 !important;
    }

    .pick .mobile-img {
        display: none;
    }

    .pick .pc-img {
        display: block;
    }

    .pick {
        height: 800px;
        position: relative;
        background: url("../images/pick/2023_summer2_pick_bg.jpg") center center fixed no-repeat;
        background-size: auto 87%;
        background-position: bottom;
    }

    .pick .inner {
        width: 1280px;
        margin: 0 auto;
        position: relative;
    }

    .pick .inner .pick-txt01 {
        background: url("../images/pick/fav_prod_txt01.png") no-repeat;
        width: 260px;
        height: 204px;
        position: absolute;
        top: 172px;
        left: -700px;
        transform: translateX(0);
        transition: left 1.5s;
    }

    .pick .inner .pick-txt01.on {
        left: 200px;
    }

    .pick .inner .pick-txt02 {
        width: 360px;
        height: 160px;
        top: 417px;
        left: -700px;
        transform: translateX(0);
        background: url("../images/pick/2023_pick_text2_img.png") no-repeat;
        background-size: 100% auto;
        transition: left 2.5s;
    }

    .pick .inner .pick-txt02.on {
        left: 97px;
    }

    .pick .inner .pick-img {
        width: 720px;
        height: 475px;
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        right: 60px;
        margin: 0;
    }

    .pick .inner .pick-btn {
        top: 602px;
        left: 391px;
    }

    /* end : PICK */

    /* start : MAGAZINE */
    .magazine .pc-img {
        display: block;
    }

    .magazine .mobile-img {
        display: none;
    }

    .magazine {
        width: 100%;
        height: 400px;
        overflow: hidden;
        background: url(../images/magazine/reserve_bg_pc.png) no-repeat 50% 100%;
        background-size: auto 353px;
    }

    .magazine .magazine-inner {
        max-width: 1080px;
    }

    .magazine .magazine-inner .magazine-tit {
        position: absolute;
        left: 0;
        top: 50%;
        transform: translateY(-50%);
        z-index: 10;
    }

    .magazine .magazine-inner .magazine-cont {
        position: absolute;
        right: 0;
        top: 50%;
        transform: translateY(-50%);
    }

    .magazine .magazine-inner .magazine-btn-wrap .magazine-btn {
        width: 125px;
        height: 40px;
    }

    .magazine .magazine-inner .magazine-btn-wrap .magazine-btn .btn {
        line-height: 40px;
        font-size: 16px;
    }

    /* start : FNB */
    .footer .fnb-wrap .fnb {
        flex: 1 1 auto;
    }

    .footer .fnb-wrap .fnb .fnb-item-dep1>a {
        font-size: 12px;
    }

    /* end : FNB */

    /* start : FOOTER-AWARDS */
    .footer .footer-awards .swiper-box {
        width: calc(160px * 5 + 10px * 4);
        height: 100%;
        margin: 0 auto;
    }

    .footer .footer-awards .swiper-box .swiper-viewport .swiper-wrapper {
        width: calc(160px * 17 + 10px * 16);
        height: 100%;
    }

    .footer .footer-awards .swiper-box .swiper-viewport .swiper-wrapper .swiper-slide {
        width: 160px;
        height: 40px;
        float: left;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    /* end : FOOTER-AWARDS */
    /* start : COPY-INFO */
    .copyright .copy-info li {
        display: inline-block;
        margin: 0 5px;
    }

    /* end : COPY-INFO */
}